---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Canvas from "../components/Canvas.vue";
import FaviconHead from "../components/FaviconHead.astro";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#070707" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <FaviconHead />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={import.meta.env.SITE} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={import.meta.env.SITE + "/overview.png"}
    />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={import.meta.env.SITE} />
    <meta
      property="twitter:image"
      content={import.meta.env.SITE + "/overview.png"}
    />

    <meta name="author" content="Szymon Szadkowski" />
    <meta name="copyright" content="Szymon Szadkowski" />
    <meta name="keywords" content={keywords} />
    <link
      rel="preload"
      href="/fonts/Inter-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Inter-Light.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Canvas client:only="vue" />
  </body>
</html>

<style is:global lang="scss">
  @font-face {
    font-family: "Inter";
    src:
      url("/fonts/Inter-Light.woff2") format("woff2"),
      url("/fonts/Inter-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --primary-text: rgb(255, 255, 255);
    --secondary-text: rgba(255, 255, 255, 0.75);
    --purple: #9685ff;
    --blue: #00d2ef;
    --light-blue: #67ffd8;
    --error: #de6d49;
    --gradient: #9685ff, #00d2ef, #67ffd8;
    --bg: #070707;
    --rounded: 6px;
  }

  * {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
  }

  html {
    background-color: var(--bg);
    color: var(--primary-text);
    max-width: 1920px;
    margin-inline: auto;
  }

  body {
    margin: 0;
    padding: 0;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    padding: 2rem;
    max-width: 860px;
    width: 100%;
    margin: auto;
  }

  h2 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    border-radius: var(--rounded);
    color: var(--primary-text);
  }

  ul {
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 2;
  }

  textarea {
    font-family: inherit;
  }

  .gradient-text {
    color: transparent;
    background-image: linear-gradient(90deg, var(--gradient));
    background-clip: text;
    -webkit-background-clip: text;
  }

  .gradient-underline {
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0px;
      height: 1.5px;
      width: 100%;
      background: linear-gradient(90deg, var(--gradient));
      transition: 0.3s transform ease;
      transform-origin: left;
    }

    &:hover,
    &:focus {
      &::after {
        transform: scaleX(0);
        transform-origin: right;
      }
    }
  }

  .logo {
    color: var(--bg);
  }

  :focus-visible {
    outline: 2px solid var(--blue);
    outline-offset: 5px;
  }

  ::selection {
    /* This is just var(--blue) but with 50% opacity */
    background-color: rgba(0, 210, 239, 0.5);
  }
</style>
